.background {
    margin: 0px;
    height: 100vh;
    overflow: hidden;
    background-color: #f0f0ff;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f0f0ff 36px ), repeating-linear-gradient( #8b8fe055, #8e92e0 );
}

.survey-box{
    margin: auto;
    width: 50%; 
    background-color: rgba(18, 63, 160, 0.377);
    padding: 5px;
    height: 100%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #2b2f83;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}
